<!-- Student Section -->
<section class="success" id="student">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Students</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <p>Rulin Shao</p>
      </div>
      <div class="col-lg-3">
        <p>Andrew Wagenmaker</p>
      </div>
      <div class="col-lg-3">
        <p>Romain Camilleri</p>
      </div>
      <div class="col-lg-3">
        <p>Yuanyuan Yang</p>
      </div>
      <div class="col-lg-3">
        <p>Xiyang Liu</p>
      </div>
      <div class="col-lg-3">
        <p>Raghav Somani</p>
      </div>
      <div class="col-lg-3">
        <p>Yifang Chen</p>
      </div>
      <div class="col-lg-3">
        <p>Zhihan Xiong</p>
      </div>
      <div class="col-lg-3">
        <p>Jonathan Hayase</p>
      </div>
      <div class="col-lg-3">
        <p>Claire Zhang</p>
      </div>
      <div class="col-lg-3">
        <p>Melih Yilmaz</p>
      </div>
      <div class="col-lg-3">
        <p>Jeffrey Li</p>
      </div>
      <div class="col-lg-3">
        <p>Thao Nguyen</p>
      </div>
      <div class="col-lg-3">
        <p>Artin Tajdini</p>
      </div>
      <div class="col-lg-3">
        <p>Qiwen Cui</p>
      </div>
      <div class="col-lg-3">
        <p>Gantavya Bhatt</p>
      </div>
      <div class="col-lg-3">
        <p>Daniel Jiang</p>
      </div>
      <div class="col-lg-3">
        <p>Alex Fang</p>
      </div>
      <div class="col-lg-3">
        <p>Runlong Zhou</p>
      </div>
      <div class="col-lg-3">
        <p>Rachel Hong</p>
      </div>
      <div class="col-lg-3">
        <p>Arnab Maiti</p>
      </div>
      <div class="col-lg-3">
        <p>Avinandan Bose</p>
      </div>
      <div class="col-lg-3">
        <p>Dhruba Ghosh</p>
      </div>
      <div class="col-lg-3">
        <p>Rulin Shao</p>
      </div>
      <div class="col-lg-3">
        <p>Jacqueline He</p>
      </div>
      <div class="col-lg-3">
        <p>Weihang Xu</p>
      </div>
      <div class="col-lg-3">
        <p>Noah Feinberg</p>
      </div>
      <div class="col-lg-3">
        <p>Daphne Chen</p>
      </div>
      <div class="col-lg-3">
        <p>Yiping Wang</p>
      </div>
      <div class="col-lg-3">
        <p>Sriyash Poddar</p>
      </div>
      <div class="col-lg-3">
        <p>Siting Li</p>
      </div>
      <div class="col-lg-3">
        <p>Eric Frankel</p>
      </div>
      <div class="col-lg-3">
        <p>Scott Geng</p>
      </div>
      <div class="col-lg-3">
        <p>Rui Xin</p>
      </div>
      <div class="col-lg-3">
        <p>Divyansh Pareek</p>
      </div>
      <div class="col-lg-3">
        <p>Xinqi Wang</p>
      </div>
      <div class="col-lg-3">
        <p>Yancheng Liang</p>
      </div>
      <div class="col-lg-3">
        <p>Gavin Brown</p>
      </div>
      <div class="col-lg-3">
        <p>Anshul Nasery</p>
      </div>
      <div class="col-lg-3">
        <p>Yanming Wan</p>
      </div>
      <div class="col-lg-3">
        <p>Anas Awadalla</p>
      </div>
      <div class="col-lg-3">
        <p>Josh Gardner</p>
      </div>
    </div>
  </div>
</section>
